menu {
    display:flex;
    flex-direction: column;
}

.logo {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
}
.logo-icon {
    font-size: 20px;
}

.menu-list {
    display:flex;
    flex-direction: column;
    margin: 40px 0;
    gap:20px;
}

.menu-list .item {
    text-decoration: none;
    color: #27374d;
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    padding: 10px;
    transition: 0.2s ease-in-out;
}
.menu-list .item:hover {
    border-radius: 10px;
    background-color: #27374d;
    color: #dde6ed;
}
.menu-list .active{
    border-radius: 10px;
    background-color: #27374d;
    color: #dde6ed;
}
